-e .[dev]

pandas
pypdfium2
pillow
pandas
tqdm
pandas
requests
numpy
sqlalchemy
sqlalchemy
pandas
sqlalchemy
pandas
tqdm
sqlalchemy
pandas
networkx
scikit-learn
scikit-learn
pydantic
urllib3
requests
requests
requests
requests
pydantic
pandas
pypdf
transformers
transformers
torch
torch